@page "{handler?}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Blogs.IndexModel
@using Schools.Application.Utilities.Convertors
@using Schools.Domain.Repository.InterfaceRepository.BlogRepositories;
@inject IBlogGroupsRepository _groupRepository;
@{
    var menuModel = "blogs";
    var groups = _groupRepository.GetAllGroups();
}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <a asp-page="Add" class="btn bg-olive margin">افزودن بلاگ</a>
                <div class="box">
                    <div class="box-header">
                        <section class="term-categories">
                            <form id="formFilter" method="get">
                                <input type="hidden" asp-for="Blogs.CurrentPage" id="pageId" name="pageId"/>
                                <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                                    <select class="form-control" asp-for="Blogs.TypeId" name="typeId">
                                        <option value="null">همه</option>
                                        <option value="4">اخبار</option>
                                        <option value="5">مقالات</option>
                                    </select>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12 pull-right">
                                    <div class="form-group">
                                        <select name="groupTitle" class="form-control" asp-for="Blogs.GroupTitle">
                                            <option>انتخاب گروه</option>
                                            @foreach (var item in groups)
                                            {
                                                <option value="@item.GroupName">@item.GroupName</option>
                                            }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12 pull-right">
                                    <div class="form-group">
                                        <button type="submit" class="btn bg-olive" style="height:39px">اعمال فیلتر</button>
                                    </div>
                                </div>
                                <div class="box-tools pull-left">
                                    <div class="input-group input-group-sm" style="width: 150px;">
                                        <input type="text" name="search" asp-for="Blogs.Search" class="form-control pull-right" placeholder="جستجو">

                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tr>
                                <th>#</th>
                                <th>تصویر</th>
                                <th>نوع</th>
                                <th>عنوان</th>
                                <th>تاریخ</th>
                                <th>لینک کوتاه</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model.Blogs.Blogs)
                            {
                                <tr>
                                    <td>@item.BlogId</td>
                                    <td><img src="/images/blogs/@item.ImageName" class="thumbnail" style="max-width:120px" /></td>
                                    <td>@item.BlogType</td>
                                    <td>@item.Title</td>
                                    <td>@item.CreateDate.ToShamsi()</td>
                                    <td>@item.ShortLink</td>
                                    <td>
                                        <a href="/ManagementPanel/Blogs/Edit/@item.BlogId" class="btn-sm btn-info">ویرایش</a>
                                      
                                        <a href="javascript:void(0)" onclick="deleteItem(@item.BlogId)" class="btn-sm btn-danger">حذف</a>

                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="dataTables_paginate paging_simple_numbers text-center" id="example2_paginate">

                        @if (Model.Blogs.PageCount > 1)
                        {
                            <hr class="mt-0">

                            <ul class="pagination">
                                @if (Model.Blogs.CurrentPage > 1 && Model.Blogs.StartPage > 1)
                                {
                                    <li class="paginate_button previous disabled" id="example2_previous">
                                        <a onclick="ChangePage(1)">1</a>
                                    </li>

                                }

                                @for (var i = Model.Blogs.StartPage; i <= Model.Blogs.EndPage; i++)
                                {

                                    <li class="@((i == Model.Blogs.CurrentPage ? "paginate_button active" : "paginate_button"))">
                                        <a onclick="ChangePage(@i)" href="javascript:void(0)">@i</a>
                                    </li>
                                }
                                @if (Model.Blogs.CurrentPage < Model.Blogs.PageCount && Model.Blogs.EndPage < Model.Blogs.PageCount)
                                {
                                    <li class="paginate_button next" id="example2_next">
                                        <a onclick="ChangePage(@Model.Blogs.PageCount)">@Model.Blogs.PageCount</a>
                                    </li>

                                }
                            </ul>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
    <script type="text/javascript">
        function ChangePage(pageId) {
            $("#pageId").val(pageId);
            $("#formFilter").submit();

        }

        function changeType() {
            $("#formFilter").submit();
        }
        function deleteItem(id) {
            swal({
                title: "اخطار !",
                text: "آیا از حذف  اطمینان دارید ؟",
                icon: "warning",
                buttons: ["لغو", "بله"]
            }).then((isOk) => {
                if (isOk) {
                    $.ajax({
                        url: "/ManagementPanel/Blogs/DeleteBLog?blogId=" + id,
                        type: "get",
                        beforeSend: function () {
                            $(".loading").show();
                        },
                        complete: function () {
                            $(".loading").hide();
                        }
                    }).done(function (data) {
                        if (data === "NotFound") {
                            swal({
                                title: "شناسه وارد شده نا معتبر است",
                                icon: "error",
                                button: "باشه"
                            });
                        }
                        if (data === "Deleted") {
                            swal({
                                title: "اعملیات با موفقیت انجام شد",
                                icon: "success",
                                button: "باشه"
                            }).then((isOk) => {
                                location.reload();
                            });
                        } else {
                            swal({
                                title: "اعملیات به مشکل برخورد کرد",
                                icon: "error",
                                button: "باشه"
                            });
                        }
                    });
                }
            });

        }
    </script>
}