@model Schools.Domain.Models.Blogs.Blog
@using Schools.Application.Utilities.Convertors
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="page-default page-style-one">
        <div class="row">
            <!-- right -->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!-- main content -->
                <section class="main-content shadow-style">
                    <header>
                        <div class="calendar-layer shadow-style">
                            @foreach (var item in Model.CreateDate.ToShamsiWithMount().Split())
                            {
                                <span>@item</span>
                            }
                        </div>

                        <h2><a href=""> @Model.Title </a></h2>
                        <div class="detail-layer">
                            <span><i class="zmdi zmdi-eye"></i> @Model.BlogVisit </span>
                            <a href="/blog"><i class="zmdi zmdi-rotate-left"></i> بازگشت به آرشیو مطالب </a>
                        </div>
                    </header>
                    <article>
                        <p>
                            @Model.ShortDescription
                        </p>
                        <p>
                            @Model.BlogText
                        </p>
                    </article>
                </section>
                <!-- /main content -->
                <!-- keywords -->
                <div class="tags-layer shadow-style">
                    @foreach (var item in Model.Tags.Split('-'))
                    {
                        <a href=""> @item </a>
                    }
                </div>
                <!-- /keywords -->
                <!-- comments -->
                <section class="user-comments-layer shadow-style">
                    <header> <h3> <i class="zmdi zmdi-comments"></i> نظرات کاربران </h3> <span> 28 نظر </span> </header>
                    <div class="comment-inner-layer">
                        <form action="" method="">
                            <div class="row">
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <input name="" placeholder=" نام و نام خانوادگی" type="text">
                                    <input name="" placeholder=" ایمیل " type="email">
                                    <input name="" placeholder=" شماره تماس " type="text">
                                    <!-- here get comment id for reply , use this input's value and separate cm- -->
                                    <input name="" id="reply-comment-id" type="hidden">
                                </div>
                                <div class="col-md-7 col-sm-7 col-xs-12">
                                    <textarea placeholder=" متن نظر"></textarea>
                                    <div class="captcha">
                                        <input name="" placeholder=" کد امنیتی " type="text">
                                        <img src="images/pic/captcha.jpg">
                                    </div>
                                    <button type="submit"> ارسال نظر ارزشمند شما </button>
                                </div>
                            </div>
                        </form>

                        <div class="comments-list">

                            <div class="comment-box">
                                <div class="img-layer"><img src="images/pic/avatar-1.jpg"></div>
                                <div class="left">
                                    <span> میترا رحیمی </span>
                                    <i> ارسال شده در 15/07/1396</i>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                    </p>
                                    <div class="action-layer">
                                        <a href="" class="delete-cm"><i class="zmdi zmdi-delete"></i></a>
                                        <a href="" class="edit-cm"><i class="zmdi zmdi-edit"></i></a>
                                        <!-- set comment id for element's id for reply -->
                                        <a href="javascript:void(0)" class="reply-cm" id="cm-1"><i class="zmdi zmdi-mail-reply"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-box">
                                <div class="img-layer"><img src="images/pic/avatar-1.jpg"></div>
                                <div class="left">
                                    <span> میترا رحیمی </span>
                                    <i> ارسال شده در 15/07/1396</i>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                    </p>
                                    <div class="action-layer">
                                        <a href="" class="delete-cm"><i class="zmdi zmdi-delete"></i></a>
                                        <a href="" class="edit-cm"><i class="zmdi zmdi-edit"></i></a>
                                        <!-- set comment id for element's id for reply -->
                                        <a href="javascript:void(0)" class="reply-cm" id="cm-1"><i class="zmdi zmdi-mail-reply"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-box">
                                <div class="img-layer"><img src="images/pic/avatar-1.jpg"></div>
                                <div class="left">
                                    <span> میترا رحیمی </span>
                                    <i> ارسال شده در 15/07/1396</i>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                    </p>
                                    <div class="action-layer">
                                        <a href="" class="delete-cm"><i class="zmdi zmdi-delete"></i></a>
                                        <a href="" class="edit-cm"><i class="zmdi zmdi-edit"></i></a>
                                        <!-- set comment id for element's id for reply -->
                                        <a href="javascript:void(0)" class="reply-cm" id="cm-1"><i class="zmdi zmdi-mail-reply"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-box">
                                <div class="img-layer"><img src="images/pic/avatar-1.jpg"></div>
                                <div class="left">
                                    <span> میترا رحیمی </span>
                                    <i> ارسال شده در 15/07/1396</i>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                    </p>
                                    <div class="action-layer">
                                        <a href="" class="delete-cm"><i class="zmdi zmdi-delete"></i></a>
                                        <a href="" class="edit-cm"><i class="zmdi zmdi-edit"></i></a>
                                        <!-- set comment id for element's id for reply -->
                                        <a href="javascript:void(0)" class="reply-cm" id="cm-2"><i class="zmdi zmdi-mail-reply"></i></a>
                                    </div>
                                </div>

                                <div class="comment-box">
                                    <div class="img-layer"><img src="images/pic/avatar-1.jpg"></div>
                                    <div class="left">
                                        <span> میترا رحیمی </span>
                                        <i> ارسال شده در 15/07/1396</i>
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                        </p>
                                        <div class="action-layer">
                                            <a href="" class="delete-cm"><i class="zmdi zmdi-delete"></i></a>
                                            <a href="" class="edit-cm"><i class="zmdi zmdi-edit"></i></a>
                                            <!-- set comment id for element's id for reply -->
                                            <a href="javascript:void(0)" class="reply-cm" id="cm-3"><i class="zmdi zmdi-mail-reply"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <!-- paging -->
                        <div class="pagination-layer">
                            <div class="inner">
                                <a href="" class="next-page"> صفحه بعدی </a>
                                <div class="pages">
                                    <a href="" class="page">1</a>
                                    <a href="" class="page">2</a>
                                    <a href="" class="page current">3</a>
                                    <a href="" class="page">4</a>
                                    <a href="" class="page">5</a>
                                    <a href="" class="page">...</a>
                                </div>
                                <a href="" class="prev-page"> صفحه قبلی </a>
                            </div>
                        </div>

                    </div>
                </section>
                <!-- /comments -->

            </div>
            <!-- /right -->
            <!-- left -->
            <aside class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <!-- category -->
                <form id="formFilter" asp-controller="Blog" asp-action="Index" method="get">
                    @await Component.InvokeAsync("ShowBlogGroupsComponent")
                </form>
                <!-- /category -->
                <!-- last blog -->
                <section class="last-blog shadow-style">
                    <header> <h2> آخرین مطالب بلاگ </h2> </header>
                    <!-- item -->
                    @await Component.InvokeAsync("ShowLatesBlogComponent")
                    <!-- /item -->
                </section>
                <!-- last blog -->
                <!-- last post -->
                <section class="last-posts shadow-style">
                    <header> <h2> آخرین آموزشگاه های ثبت شده </h2> </header>
                    <div class="inner">
                        <!-- item -->
                        <article>
                            <h2><a href=""><span> آموزشگاه رانندگی </span> عصر نو </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 23 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span>  آموزشگاه زبان</span>  اینده سازان </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 15 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span>  آموزشگاه هنر</span> ایده پویا </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 5 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span> آموزشگاه رانندگی </span> عصر نو </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 23 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span>  آموزشگاه زبان</span>  اینده سازان </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 15 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span>  آموزشگاه هنر</span> ایده پویا </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 5 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span> آموزشگاه رانندگی </span> عصر نو </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 23 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span>  آموزشگاه زبان</span>  اینده سازان </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 15 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span>  آموزشگاه هنر</span> ایده پویا </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 5 سال سابقه </span>
                        </article>
                        <!-- /item -->
                        <!-- item -->
                        <article>
                            <h2><a href=""><span> آموزشگاه رانندگی </span> عصر نو </a></h2>
                            <span><i class="zmdi zmdi-calendar"></i> 23 سال سابقه </span>
                        </article>
                        <!-- /item -->
                    </div>
                </section>
                <!-- /last post -->
                <!-- popular  -->
                <!-- /popular  -->

            </aside>
            <!-- /left -->
        </div>
    </div>

</div>
@section Scripts{
    <script type="text/javascript">

        function changeGroup() {
            $("#formFilter").submit();
        }
    </script>
}