@page
@using Schools.Application.Utilities.Convertors
@model Schools.WebApp.Areas.ManagementPanel.Pages.IndexModel
@{
    var menuModel = "dashbord";
}
<partial name="_MainMenu" model="menuModel" />
<div class="content-wrapper">
    <section class="content-header">
        <h1>
            داشبرد
            <small>کنترل پنل</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> خانه</a></li>
            <li class="active">داشبرد</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-hourglass-start"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">آموزشگاه های تایید نشده</span>
                        <span class="info-box-number">@Model.PageViewModel.RequestCount</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-home"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">آموزشگاه های غیرفعال</span>
                        <span class="info-box-number">@Model.PageViewModel.DeActiveSchoolsCount</span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-home"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">آموزشگاه های فعال</span>
                        <span class="info-box-number">@Model.PageViewModel.ActiveSchoolsCount</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">تعداد کاربران</span>
                        <span class="info-box-number">@Model.PageViewModel.UsersCount.ToString("#,0")</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-8">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">برترین آموزشگاه ها</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin text-center">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>نام آموزشگاه</th>
                                        <th>مدیر آموزشگاه</th>
                                        <th>بازدید</th>
                                        <th>امتیاز</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.PageViewModel.TopRateSchools)
                                    {
                                        var rateCount = item.SchoolRates.Count;
                                        double? rate = null;
                                        if (rateCount >= 1)
                                        {
                                            rate = item.SchoolRates.Sum(r => r.Rate) / rateCount;

                                        }


                                        <tr>
                                            <td><a href="/ManagementPanel/Schools/Detail/@item.SchoolId">@item.SchoolId</a></td>
                                            <td>@item.SchoolTitle</td>
                                            <td>@item.User.Name @item.User.Family</td>
                                            <td><span class="label label-info">@item.Visit.ToString("#,0")</span></td>
                                            <td><span class="label label-warning">@(rate?.ToString("##.###")??"0") از @rateCount راًی</span></td>
                                            <td>
                                                <a class="btn btn-primary" target="_blank" href="/School/@item.SchoolId/@item.SchoolTitle.Trim().Replace(" ","-")">نمایش</a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix">
                        <a href="/ManagementPanel/Schools?hasRequest=true" class="btn btn-sm btn-default btn-flat pull-right">نمایش همه</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">شبکه های اجتماعی</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table no-margin text-center">
                                <tbody>
                                    @foreach (var item in Model.PageViewModel.SocialNetworks)
                                    {
                                        <tr>
                                            <td>@item.NetworkName</td>
                                            <td>
                                                <a class="btn btn-flat btn-sm btn-link" target="_blank" href="@item.NetWorkLink">نمایش</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer clearfix">
                        <a href="/ManagementPanel/SocialNetworks" class="btn btn-sm btn-default btn-flat pull-right">نمایش همه</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                @if (Model.PageViewModel.SchoolRequests.Count >= 1)
                {
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">آموزشگاه های تایید نشده</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام آموزشگاه</th>
                                            <th>نام مدیر</th>
                                            <th>تلفن همراه</th>
                                            <th>آدرس</th>
                                            <th>نوع آموزش</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageViewModel.SchoolRequests.Take(10))
                                        {
                                            <tr>
                                                <td><a href="/ManagementPanel/Schools/Requests/Show/@item.RequestId">@item.RequestId</a></td>
                                                <td>@item.SchoolName</td>
                                                <td><span class="label label-success">@item.User.Name @item.User.Family</span></td>
                                                <td>@item.CellPhone</td>
                                                <td>@item.Address</td>
                                                <td>@item.TrainingTypes</td>
                                                <td>
                                                    <a class="btn btn-info" href="/ManagementPanel/Schools/Requests/Show/@item.RequestId">نمایش</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <a href="/ManagementPanel/Schools/Requests?isActive=false" class="btn btn-sm btn-default btn-flat pull-right">نمایش همه</a>
                        </div>
                    </div>
                }
                @if (Model.PageViewModel.NewMessages.Count >= 1)
                {
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">پیغام های پشتیبانی</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام و نام خانودگی</th>
                                            <th>ایمیل</th>
                                            <th>موضوع</th>
                                            <th>وضعیت</th>
                                            <th>تایخ ثبت</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageViewModel.NewMessages.Take(10))
                                        {
                                            <tr>
                                                <td><a href="/ManagementPanel/ContactUs/HelpForm/Show/@item.ContactId">@item.ContactId</a></td>
                                                <td>@item.FullName</td>
                                                <td>@item.Email</td>
                                                <td>@item.Subject</td>
                                                <td><span class="label label-info">درحال برسی</span></td>
                                                <td><span class="label label-info">@item.CreateDate.ToShamsiWithMount()</span></td>
                                                <td>
                                                    <a class="btn btn-primary btn-sm" href="/ManagementPanel/ContactUs/HelpForm/Show/@item.ContactId">پاسخ</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <a href="/ManagementPanel/ContactUs/HelpForm?isPosted=false" class="btn btn-sm btn-default btn-flat pull-right">نمایش همه</a>
                        </div>
                    </div>
                }
            </div>
            @if (Model.PageViewModel.NewRequests.Count >= 1)
            {
                <div class="col-lg-6">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">درخواست های جدید</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>نام آموزشگاه</th>
                                            <th>عکس های تایید نشده</th>
                                            <th>دوره های تایید نشده</th>
                                            <th>اساتید تایید نشده</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageViewModel.NewRequests.Take(10))
                                        {
                                            <tr>
                                                <td><a href="/ManagementPanel/Schools?schoolName=@item.SchoolTitle&hasRequest=True">@item.SchoolId</a></td>
                                                <td>@item.SchoolTitle</td>
                                                <td><span class="label label-success">@item.SchoolGalleries.Count(g => !g.IsActive)</span></td>
                                                <td><span class="label label-warning">@item.SchoolCourses.Count(g => !g.IsActive)</span></td>
                                                <td><span class="label label-info">@item.SchoolTeachers.Count(g => !g.IsActive)</span></td>
                                                <td>
                                                    <a class="btn btn-primary" href="/ManagementPanel/Schools?schoolName=@item.SchoolTitle&hasRequest=True">نمایش</a>

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <a href="/ManagementPanel/Schools?hasRequest=true" class="btn btn-sm btn-default btn-flat pull-right">نمایش همه</a>
                        </div>
                    </div>
                </div>
            }
            @if (Model.PageViewModel.NewTickets.Count >= 1)
            {
                <div class="col-lg-6">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">تیکت های جدید</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table no-margin text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>عنوان</th>
                                            <th>وضعیت</th>
                                            <th>دسته بندی</th>
                                            <th>تاریخ ثبت</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.PageViewModel.NewTickets.Take(10))
                                        {
                                            <tr>
                                                <td><a href="/ManagementPanel/Tickets/Show/@item.TicketId">@item.TicketId</a></td>
                                                <td>@item.TicketTitle</td>
                                                <td><span class="label label-info">درحال برسی</span></td>
                                                <td>@item.TicketCategory.CategoryTitle</td>
                                                <td>@item.CreateDate.ToShamsi()</td>
                                                <td>
                                                    <a href="/ManagementPanel/Tickets/Show/@item.TicketId" class="btn btn-sm btn-info">نمایش</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer clearfix">
                            <a href="/ManagementPanel/Tickets?status=true" class="btn btn-sm btn-default btn-flat pull-right">نمایش همه</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

</div>

