@model Schools.Application.ViewModels.SchoolsViewModels.MainPageViewModel
@section Topic_Layer{
    <div class="container">
        <div class="topic-layer">
            <h1> بانک اطلاعاتی آموزشگاه های <span>  استان @Model.ShireTitle  </span></h1>
            <h2> استان @Model.ShireTitle شامل <i> @Model.SchoolsCount </i> آموزشگاه فعال می باشد </h2>
        </div>
    </div>
}
@section Search{
    <div class="container">
        <div class="search-layer">
            <form asp-controller="Home" asp-action="SchoolCategory" method="get">
                <select name="shireTitle" id="shires">
                    <option > انتخاب استان </option>
                    @foreach (var item in Model.Shires)
                    {
                        <option selected="@((item.ShireTitle==Model.ShireTitle?"selected":null))" value="@item.ShireTitle"> @item.ShireTitle </option>

                    }
                </select>
                <select name="cityTitle" id="cities">
                    <option > انتخاب شهر </option>
                    @foreach (var item in Model.ShireCities)
                    {
                        <option value="@item.CityTitle"> @item.CityTitle </option>

                    }
                </select>
                <input type="text" name="schoolName" placeholder="نام آموزشگاه ...">
                <input type="text" name="courseName" placeholder="نام دوره ...">
                <button type="submit"> جستجو کنید <i class="zmdi zmdi-search"></i></button>
            </form>
        </div>
    </div>
}
<div class="main-content">
    <div class="container">
        <div class="row">
            <!-- categories -->
            <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6 categories-col">
                <div class="categories-layer shadow-style">
                    <!-- select place-->
                    <div class="select-layer">
                        <!-- پیش فرض گروه بندی تهرانه  -->
                        <span class="title-place"> گروه بندی آموزشگاه های <i> @Model.ShireTitle  </i> </span>
                        <ul>
                        </ul>
                    </div>
                    <!-- /select place-->
                    <!-- list -->
                    <div class="list-layer">
                        <nav>
                            <ul>
                                @foreach (var main in Model.SchoolGroups.Where(g => g.ParentId == null))
                                {
                                    <li>
                                        <a href="/Schools?categoryTitle=@main.GroupTitle&shireTitle=@Model.ShireTitle"> @main.GroupTitle <span>(@main.Schools.Count)</span></a>
                                        @if (Model.SchoolGroups.Any(g => g.ParentId == main.GroupId))
                                        {
                                            <ul>
                                                @foreach (var sub in Model.SchoolGroups.Where(g => g.ParentId == main.GroupId))
                                                {
                                                    <li><a href="/Schools?categoryTitle=@sub.GroupTitle&shireTitle=@Model.ShireTitle">@sub.GroupTitle<span>(@sub.SchoolsSub.Count)</span></a></li>

                                                }
                                            </ul>
                                        }

                                    </li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <!-- /list -->
                </div>
            </div>
            <!-- /categories -->
            <!-- popular post -->
            <section class="col-lg-9 col-md-8 col-sm-7 col-xs-6 popular-item-col">
                <header class="heading-style"><h2> محبوب ترین آموزشگاه های <i> @Model.ShireTitle </i> </h2></header>
                <div class="popular-item-carousel owl-carousel">
                    <!-- item -->
                    @foreach (var item in Model.PopularSchools)
                    {
                        <div class="item">
                            <section class="section-item shadow-style">
                                <div class="img-layer">
                                    <span> @(item.CityTitle ?? Model.ShireTitle)</span>
                                    <a href=""><img src="/images/schools/@item.ImageName" alt="@item.Title"></a>
                                </div>
                                <h2><a href=""> <span class="category-name"> @item.CategoryTitle </span> @item.Title </a></h2>
                                <div class="detail">
                                    <span class="history"> <i class="zmdi zmdi-calendar-check"></i> @item.History سال سابقه </span>
                                    <span class="like"><i class="zmdi zmdi-favorite-outline"></i>  @item.Like.ToString("#,0") </span>
                                </div>
                            </section>
                        </div>
                    }

                </div>
            </section>
            <!-- /popular post -->
        </div>

        <!-- last post -->
        <section class="last-items-layer">
            <header class="heading-style">
                <h2>آخرین آموزشگاه های ثبت شده در <i> @Model.ShireTitle </i></h2>
                <div class="select-layer">
                    <!-- پیش فرض گروه بندی تهرانه  -->
                    <span class="title-place"> مشاهده آموزشگاه های <i> @Model.ShireTitle </i> </span>
                    <ul>
                      
                        <li><label><input type="radio" name="select-list" value="@Model.ShireTitle" id="select-1">@Model.ShireTitle</label></li>
                        @foreach (var city in Model.ShireCities.Take(12))
                        {
                            

                            <li><a href="/schools?shireTitle=@Model.ShireTitle&cityTitle=@city.CityTitle"><label>@city.CityTitle</label></a></li>
                        }
                        <li><a href="/schools?shireTitle=@Model.ShireTitle"><label>همه شهر ها </label></a></li>

                    </ul>
                </div>
            </header>

            <div class="row">
                <!-- col -->
                @foreach (var item in Model.LastRegisteredSchools)
                {
                    <div class="col-md-3 col-sm-4 col-xs-6 section-item-col">
                        <section class="section-item shadow-style">
                            <div class="img-layer">
                                <span> @(item.CityTitle ?? Model.ShireTitle) </span>
                                <a href=""><img src="/images/schools/@item.ImageName" alt="@item.Title"></a>
                            </div>
                            <h2><a href=""> <span class="category-name"> @item.CategoryTitle </span>  @item.Title </a></h2>
                            <div class="detail">
                                <span class="history"> <i class="zmdi zmdi-calendar-check"></i> @item.History سال سابقه </span>
                            </div>
                        </section>
                    </div>
                }


            </div>

            <a href="" class="view-all-item button-st blue"> مشاهده تمامی آموزشگاه های <span> @Model.ShireTitle </span> <i class="zmdi zmdi-more"></i></a>

        </section>
        <!-- /last post -->
    </div>
</div>

<section class="best-item-layer">
    <div class="container">
        <header class="heading-style">
            <h2> برترین آموزشگاه های  <i> @Model.ShireTitle </i> </h2>
            <div class="select-layer">
                <!-- پیش فرض گروه بندی تهرانه  -->
                <span class="title-place"> مشاهده آموزشگاه های <i> @Model.ShireTitle </i> </span>
                <ul>
                
                    <li><label><input type="radio" name="select-list" value="@Model.ShireTitle" id="select-1">@Model.ShireTitle</label></li>
                    @foreach (var city in Model.ShireCities.Take(12))
                    {

                        <li><a href="/schools?shireTitle=@Model.ShireTitle&cityTitle=@city.CityTitle"><label>@city.CityTitle</label></a></li>
                    }
                    <li><a href="/schools?shireTitle=@Model.ShireTitle"><label>همه شهر ها </label></a></li>

                </ul>
            </div>
        </header>

        <div class="best-item-carousel owl-carousel">
            <!-- item -->
            @foreach (var item in Model.BestSchools)
            {
                <div class="item">
                    <section class="section-item shadow-style">
                        <div class="img-layer">
                            <span> @(item.CityTitle ?? Model.ShireTitle)</span>
                            <a href=""><img src="/images/schools/@item.ImageName" alt="@item.Title"></a>
                        </div>
                        <h2><a href=""> <span class="category-name"> @item.CategoryTitle </span> @item.Title </a></h2>
                        <div class="detail">
                            <span class="history"> <i class="zmdi zmdi-calendar-check"></i> @item.History سال سابقه </span>
                            <span class="rating-star"><span class="readonly-rating-star" data-score="@item.Rate"></span></span>
                        </div>
                    </section>
                </div>
            }
        </div>
    </div>
</section>
