@page
@using Schools.Application.Utilities
@using Schools.Domain.Models.Schools
@using Schools.Domain.Models.Users
@using Schools.Domain.Repository.InterfaceRepository.Schools
@using Schools.Domain.Repository.InterfaceRepository.Users
@model Schools.WebApp.Pages.SchoolPanel.EditModel

@{

    ViewData["title"] = $"ویرایش حساب کاربری";
}
@section Meta
{
    <link rel="stylesheet" type="text/css" href="/css/account.css">
}
@if (Model.School == null)
{

}
else
{


    @section Topic_Layer
{
        <div class="container page-title">
            <h1><a href="javascript:void(0)"> حساب کاربری </a></h1>
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                    <a href="/SchoolPanel" itemprop="item">
                        <span itemprop="name"> حساب آموزشگاه @Model.School.SchoolTitle </span>
                    </a>
                </li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                    <a href="javascript:void(0)" itemprop="item" class="current">
                        <span itemprop="name">  ویرایش حساب کاربری </span>
                    </a>
                </li>
            </ul>
        </div>
    }
    <div class="account-layer">
        <div class="container">
            @{
                var menuModel = new Tuple<School, string>(Model.School, "Edit");
            }
            <partial name="Shared/_RightMenu" model="menuModel" />

            <div class="left-side">
                <div class="account-heading layer-style">
                    @if (Model.School.IsActive)
                    {
                        <span class="status green">
                            وضعیت :
                            <i> فعال </i>
                        </span>
                    }
                    else
                    {
                        <span class="status red">
                            وضعیت :
                            <i> غیرفعال </i>
                        </span>
                    }
                    <a href="/SchoolPanel/Tickets/Add"> <i class="zmdi zmdi-plus"></i> ثبت تیکت </a>
                </div>
                <div class="account-content-layer layer-style">
                    <h3> ویرایش حساب کاربری </h3>
                    <div class="inner">
                        <form method="post" class="form-layer-style">
                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="input-layer">
                                        <label><i class="zmdi zmdi-account"></i>نام</label>
                                        <input asp-for="UserModel.Name" value="@Model.School.User.Name" type="text">
                                        <span asp-validation-for="UserModel.Name"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="input-layer">
                                        <label><i class="zmdi zmdi-account"></i> نام خانوادگی</label>
                                        <input asp-for="UserModel.Family" value="@Model.School.User.Family" type="text">
                                        <span asp-validation-for="UserModel.Family"></span>

                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="input-layer">
                                        <label><i class="zmdi zmdi-account"></i> کد ملی</label>
                                        <input asp-for="UserModel.NationalCode" value="@Model.School.User.NationalCode" type="number">
                                        <span asp-validation-for="UserModel.NationalCode"></span>

                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <!-- input -->
                                    <div class="input-layer">
                                        <label><i class="zmdi zmdi-phone-in-talk"></i>  شماره ثابت </label>
                                        <input type="number" asp-for="UserModel.TelNumber" value="@Model.School.User.TelNumber">
                                        <span asp-validation-for="UserModel.TelNumber"></span>

                                    </div>
                                    <!-- /input -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="input-layer">
                                        <label><i class="zmdi zmdi-smartphone-android"></i>  شماره موبایل </label>
                                        <input asp-for="UserModel.Phone" value="@Model.School.User.PhoneNumber" type="number">
                                        <span asp-validation-for="UserModel.Phone"></span>

                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="textarea-layer">
                                        <label><i class="zmdi zmdi-assignment"></i>  توضیحات </label>
                                        <textarea name="UserModel.AboutMe" id="UserModel_AboutMe">@Model.School.User.Description</textarea>
                                        <span asp-validation-for="UserModel.AboutMe"></span>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-12 pull-left">
                                    <button type="submit" class="submit-button green"> ویرایش اطلاعات </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}
@section Scripts
{
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    <script src="/js/account.js"></script>
}

