@page
@using Schools.Application.Utilities
@using Schools.Application.Utilities.Convertors
@using Schools.Domain.Models.Schools
@model Schools.WebApp.Pages.SchoolPanel.IndexModel
@if (Model.School == null)
{

}
else
{

    ViewData["title"] = $"آموزشگاه {Model.School.SchoolTitle}";
    bool isSuccess = TempData["EditSuccess"] != null;
    var userId = User.GetUserId();

    @section Meta
    {
        <link rel="stylesheet" type="text/css" href="/css/account.css">
    }
    @section Topic_Layer
    {
        <div class="container page-title">
            <h1><a href="javascript:void(0)"> حساب کاربری </a></h1>
            <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
                <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement">
                    <a href="" itemprop="item" class="current">
                        <span itemprop="name"> حساب آموزشگاه @Model.School.SchoolTitle  </span>
                    </a>
                </li>

            </ul>
        </div>
    }
    <div class="account-layer">
        <div class="container">
            @{
                var menuModel = new Tuple<School, string>(Model.School, "Index");
            }
            <partial name="Shared/_RightMenu" model="menuModel" />
            <div class="left-side">
                <div class="account-heading layer-style">
                    <span class="status green"> وضعیت : <i> فعال </i></span>
                    <a href="/SchoolPanel/Tickets"> <i class="zmdi zmdi-plus"></i> ثبت تیکت </a>
                </div>
                <div class="statistics-layer hidden-xs">

                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="statistics-section layer-style">
                                @{
                                    var totalRate = Model.School.SchoolRates.Sum(r => r.Rate) / Model.School.SchoolRates.Count;
                                }
                                <i class="zmdi zmdi-star"></i>
                                <span class="number"> @totalRate امتیاز </span>
                                <span class="title"> امتیاز شما از @Model.School.SchoolRates.Count رای </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="statistics-section layer-style">
                                <i class="zmdi zmdi-comments"></i>
                                <span class="number"> @Model.School.SchoolComments نظر </span>
                                <span class="title"> نظرات درباره آموزشگاه </span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="statistics-section layer-style">
                                <i class="zmdi zmdi-email"></i>
                                <span class="number"> @Model.School.User.ReceiverMessages.Count پیام خصوصی</span>
                                <span class="title"> در صندوق پیام </span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="dashboard-box layer-style notification-layer">
                    <h3> آخرین اطلاعیه های سیستم</h3>
                    <div class="inner">
                        <ul>
                            @foreach (var item in Model.School.User.UserNotifications.OrderByDescending(n => n.CreateDate).Take(6))
                            {
                                <li style="position: relative">
                                    <i class="zmdi zmdi-close text-danger delete" onclick="deleteItem(@item.NotificationId)" data-toggle="tooltip" title="حذف" data-placement="top"></i>
                                    <a href="javascript:void(0)"><i class="zmdi zmdi-assignment"></i> @item.Title <span> ( @item.CreateDate.ToShamsi() ) </span></a>
                                    <div class="message-layer layer-style" data-item="@((item.IsSee==false?item.NotificationId.ToString():null))">
                                        <p>
                                            @Html.Raw(item.Text)
                                        </p>
                                    </div>

                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="dashboard-box layer-style">
                    <h3> پیام های خصوصی خوانده نشده </h3>
                    <div class="inner">
                        <div class="dashboard-message">
                            @foreach (var item in Model.School.User.ReceiverMessages.OrderByDescending(n => n.CreateDate).Where(m => m.MessageContents.Any(u => u.UserId != userId && u.IsSeen == false)))
                            {
                                <div class="ticket-box layer-style">
                                    <div class="head">
                                        <span class="code"> کد پیام : <i>@item.Um_Id</i> </span>
                                        <span class="resgiter-date"> تاریخ ارسال : <i>@item.CreateDate.ToShamsi()</i> </span>
                                    </div>

                                    <div class="text">
                                        @if (item.SenderId == userId)
                                        {
                                            <span>
                                                یک پیام از کاربر @item.Receiver.UserName برای شما ارسال شده است
                                            </span>
                                        }
                                        @if (item.ReceiverId == userId)
                                        {
                                            <span>
                                                یک پیام از کاربر @item.Sender.UserName برای شما ارسال شده است
                                            </span>
                                        }
                                        <p>
                                            @item.MessageTitle
                                        </p>
                                        <a href="/SchoolPanel/Messages/Show/@item.Um_Id"> مشاهده کامل و ثبت پاسخ </a>
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    @section Scripts
    {
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/js/account.js"></script>
        <script>
        if (@isSuccess.ToString().ToLower())
        {
            swal({
                title: "ویرایش  با موفقیت انجام شد",
                icon: "success",
                button: "باشه"
            });
        }
        </script>
    }

}
