@model Schools.Domain.Models.Blogs.Blog
@using Schools.Application.Utilities.Convertors
@using Schools.Application.ViewModels.BlogsViewModels
@{
    ViewData["Title"] = Model.Title;
    var comments = ViewData["Comments"] as BlogCommentsViewModel;

}
@section Topic_Layer{
    <div class="container page-title">
        <h1><a href=""> @Model.Title </a></h1>
        <ul itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/" itemprop="item"><span itemprop="name"> بانک اطلاعاتی آموزشگاه ها </span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="/blogs" itemprop="item"><span itemprop="name">وبلاگ</span></a></li>
            <li itemtype="http://schema.org/ListItem" itemscope="" itemprop="itemListElement"><a href="" itemprop="item" class="current"><span itemprop="name"> @Model.Title </span></a></li>
        </ul>
    </div>

}
@section Meta
{

    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
    <link href="/css/page.css" rel="stylesheet" />
}

<div class="container">
    <div class="page-default page-style-one">
        <div class="row">
            <!-- right -->
            <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <!-- main content -->
                <section class="main-content shadow-style">
                    <header>
                        <div class="calendar-layer shadow-style">
                            @foreach (var item in Model.CreateDate.ToShamsiWithMount().Split())
                            {
                                <span>@item</span>
                            }
                        </div>

                        <h2><a href=""> @Model.Title </a></h2>
                        <div class="detail-layer">
                            <span><i class="zmdi zmdi-eye"></i> @Model.BlogVisit </span>
                            <a href="/blogs"><i class="zmdi zmdi-rotate-left"></i> بازگشت به آرشیو مطالب </a>
                        </div>
                    </header>
                    <article>
                        @Html.Raw(Model.BlogText)
                    </article>
                </section>
                <!-- /main content -->
                <!-- keywords -->
                <div class="tags-layer shadow-style">
                    @foreach (var item in Model.Tags.Split('-'))
                    {
                        <a href="/blogs?search=@item"> @item </a>
                    }
                </div>

                <div id="comments">
                    <partial name="Blog/_BlogComments" model="comments" />
                </div>

            </div>
            <!-- /right -->
            <partial name="Blog/_LeftSide" />
        </div>
    </div>

</div>
@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/js/blog.js"></script>
}