@using Schools.Application.Utilities
@using Schools.Application.Utilities.Convertors
@model Schools.Application.ViewModels.BlogsViewModels.BlogCommentsViewModel
<section class="user-comments-layer shadow-style">
    <header> <h3> <i class="zmdi zmdi-comments"></i> نظرات کاربران </h3> <span>  نظر  <label class="count">@Model.CommentsCount.ToString("#,0")</label></span> </header>
    <div class="user-comments-layer" style="">
        <div class="comment-inner-layer">
            @if (User.Identity.IsAuthenticated)
            {
                <form class="send-Comment">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <input name="replay" id="reply-comment-id" type="hidden" value="null">
                            <textarea name="comment_text" id="comment_text" placeholder=" متن نظر"></textarea>
                            <button class="button-st green" type="submit"> ارسال نظر ارزشمند شما </button>
                        </div>
                    </div>
                </form>
            }
            else
            {
                <div class="alert alert-info">
                    جهت ثبت نظر باید در سایت <a href="/Register">عضو</a> شوید و یا <a href="/Login">وارد</a> سایت شده باشید .
                </div>
            }

            <div class="comments-list">

                @foreach (var item in Model.BlogComments)
                {
                    <div class="comment-box">
                        <div class="img-layer"><img src="/images/userAvatars/@item.User.UserAvatar"></div>
                        <div class="left">
                            <span> @item.User.Name @item.User.Family </span>
                            <i> ارسال شده در @item.CreateDate.ToShamsi()</i>
                            <p>
                                @Html.Raw(item.Comment)
                            </p>
                            <div class="action-layer">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (User.GetUserId() == item.UserId)
                                    {
                                        <a href="javascript:void(0)" class="delete-cm" onclick="DeleteComment(@item.CommentId)"><i class="zmdi zmdi-delete"></i></a>
                                    }
                                }
                                <a href="javascript:void(0)" class="reply-cm" id="cm-2" onclick="replyComment(@item.CommentId)"><i class="zmdi zmdi-mail-reply"></i></a>
                            </div>
                        </div>
                        @if (Model.AnswerComments.Any(a => a.Answer == item.CommentId))
                        {
                            foreach (var answer in Model.AnswerComments.Where(a => a.Answer == item.CommentId))
                            {
                                <div class="comment-box">
                                    <div class="img-layer"><img src="/images/userAvatars/@item.User.UserAvatar"></div>
                                    <div class="left">
                                        <span> @answer.User.Name @answer.User.Family </span>
                                        <i> ارسال شده در @answer.CreateDate.ToShamsi()</i>
                                        <p>
                                            @Html.Raw(answer.Comment)
                                        </p>
                                        <div class="action-layer">
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                @if (User.GetUserId() == answer.UserId)
                                                {
                                                    <a href="javascript:void(0)" onclick="DeleteComment(@answer.CommentId)" class="delete-cm"><i class="zmdi zmdi-delete"></i></a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                }
            </div>
            <!-- paging -->
            @if (Model.PageCount > 1)
            {
                <div class="pagination-layer">
                    <div class="inner">
                        @if (Model.CurrentPage >= 1 && Model.PageCount > Model.CurrentPage)
                        {
                            <a onclick="ChangePage(@(Model.CurrentPage+1))" href="javascript:void(0)" class="next-page"> صفحه بعدی </a>
                        }
                        <div class="pages">
                            @for (var i = Model.StartPage; i <= Model.EndPage; i++)
                            {
                                <a onclick="ChangePage(@i)" href="javascript:void(0)" class="@((i == Model.CurrentPage ? "page current" : "page"))">@i</a>
                            }
                        </div>
                        @if (Model.CurrentPage > 1)
                        {
                            <a onclick="ChangePage(@(Model.CurrentPage-1))" href="javascript:void(0)" class="prev-page"> صفحه قبلی </a>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>