@page "{userId}"
@using Schools.Application.Utilities.Convertors
@model Schools.WebApp.Areas.ManagementPanel.Pages.Users.ShowProfileModel
@{
    var menuModel = "users";
}
<partial name="_MainMenu" model="menuModel" />

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">
                <div class="col-md-9">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">جدول جزییات کاربر</h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <th>تاریخ ثبت نام :</th>
                                        <td>@Model.UserModel.RegisterDate.ToShamsi()</td>

                                    </tr>

                                    <tr>
                                        <th>نام :</th>
                                        <td>@Model.UserModel.Name</td>

                                    </tr>
                                    <tr>
                                        <th>نام خانوادگی :</th>
                                        <td>@Model.UserModel.Family</td>

                                    </tr>
                                    <tr>
                                        <th>نام کاربری :</th>
                                        <td>@Model.UserModel.UserName</td>

                                    </tr>
                                    <tr>
                                        <th>شماره همراه :</th>
                                        <td>@Model.UserModel.PhoneNumber</td>
                                    </tr>
                                    <tr>
                                        <th> تلفن ثابت :</th>
                                        <td>@Model.UserModel.TelNumber</td>
                                    </tr>
                                    <tr>
                                        <th> ایمیل :</th>
                                        <td>@Model.UserModel.Email</td>
                                    </tr>
                                    <tr>
                                        <th> توضیحات :</th>
                                        <td>@Model.UserModel.Description</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">نقش های کاربر</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <ul>
                                @foreach (var item in Model.UserModel.UserRoles)
                                {
                                    <li>@item.Role.RoleTitle</li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">تصویر پروفایل</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="center-block">
                                <img src="~/images/userAvatars/@Model.UserModel.UserAvatar" class="thumbnail" width="100%" />
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </section>
            <section class="col-lg-12 col-md-12">

                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">نشان های کاربر</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>نام آموزشگاه</th>
                                        <th>تصویر</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserModel.UserLikes)
                                    {
                                        <tr>
                                            <td>@item.SchoolId</td>
                                            <td>@item.School.SchoolTitle</td>
                                            <td>
                                                <img class="thumbnail" style="max-width: 150px" src="~/images/schools/@item.School.ImageName" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">امتیاز دهی کاربر</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4>آموزشگاه ها</h4>
                                    @foreach (var rates in Model.UserModel.SchoolRates)
                                    {
                                        <p>امتیاز : @rates.Rate - آموزشگاه @rates.School.SchoolTitle</p>
                                    }
                                </div>
                                <div class="col-md-6">
                                    <h4>اساتید</h4>
                                    @foreach (var rates in Model.UserModel.TeacherRates)
                                    {
                                <p>امتیاز : @rates.Rate - نام : @rates.SchoolTeacher.FullName از آموزشگاه @rates.SchoolTeacher.School.SchoolTitle</p>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">تیکت ها</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>عنوان</th>
                                    <th>تاریخ ثبت</th>
                                    <th>تعداد گفتوگو</th>
                                    <th>وضعیت</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var ticket in Model.UserModel.UserTickets)
                                    {
                                        <tr>
                                            <td>
                                                <a href="/ManagementPanel/Tickets/Show/@ticket.TicketId" target="_blank">@ticket.TicketId</a>
                                            </td>
                                            <td>@ticket.TicketTitle</td>
                                            <td>@ticket.CreateDate.ToShamsi()</td>
                                            <td>@ticket.TicketMessages.Count</td>
                                            <td>@(ticket.IsOpen?"باز":"بسته")</td>
                                        </tr>

                                    }
                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>

            </section>
        </div>
    </section>
</div>