@model string
<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">منو</li>
            <li class="@((Model=="dashbord"?"active":null))">
                <a href="/ManagementPanel">
                    <i class="fa fa-dashboard"></i> <span>داشبرد</span>
                </a>
            </li>
            <li class="@((Model=="Locations"?"active":null))">
                <a href="/ManagementPanel/Locations">
                    <i class="fa fa-map-o"></i> <span>موقعیت مکانی</span>
                </a>
            </li>
            <li class="@((Model=="Rules"?"active":null))">
                <a href="/ManagementPanel/Rules">
                    <i class="fa fa-header"></i> <span>قوانین آموزشگاه ها</span>
                </a>
            </li>
            <li class="@((Model.Contains("user")?"active treeview":"treeview"))">
                <a href="#">
                    <i class="fa fa-users"></i>
                    <span>کاربران</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@((Model=="users"?"active":null))"><a href="/ManagementPanel/Users"><i class="fa fa-circle-o"></i>لیست کاربران</a></li>
                    <li class="@((Model=="userRoles"?"active":null))"><a href="/ManagementPanel/Users/Roles"><i class="fa fa-circle-o"></i>مدیریت نقش ها</a></li>
                </ul>
            </li>
            <li class="@((Model.Contains("schools")?"active treeview":"treeview"))">
                <a href="#">
                    <i class="fa fa-home"></i>
                    <span>آموزشگاه ها</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@((Model=="schools"?"active":null))"><a href="/ManagementPanel/Schools"><i class="fa fa-circle-o"></i>نمایش آموزشگاه ها</a></li>
                    <li class="@((Model=="schoolsGroup"?"active":null))"><a href="/ManagementPanel/Schools/Groups"><i class="fa fa-circle-o"></i>گروه ها</a></li>
                    <li class="@((Model=="schoolsRequests"?"active":null))"><a href="/ManagementPanel/Schools/Requests"><i class="fa fa-circle-o"></i>درخواست های ثبت آموزشگاه</a></li>
                </ul>
            </li>
            <li class="@((Model.Contains("Tickets")?"active treeview":"treeview"))">
                <a href="#">
                    <i class="fa fa-comments"></i>
                    <span>تیکت پشتیبانی</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@((Model=="Tickets"?"active":null))"><a href="/ManagementPanel/tickets"><i class="fa fa-circle-o"></i>نمایش تیکت ها</a></li>
                    <li class="@((Model=="TicketsCategory"?"active":null))"><a href="/ManagementPanel/Tickets/Categories"><i class="fa fa-circle-o"></i>مدیریت گروه بندی</a></li>
                </ul>
            </li>
            <li class="@((Model.Contains("blogs")?"active treeview":"treeview"))">
                <a href="#">
                    <i class="fa fa-file"></i>
                    <span>بلاگ ها</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@((Model=="blogs"?"active":null))"><a href="/ManagementPanel/Blogs"><i class="fa fa-circle-o"></i>نمایش بلاگ ها</a></li>
                    <li class="@((Model=="blogsGroups"?"active":null))"><a href="/ManagementPanel/Blogs/Groups"><i class="fa fa-circle-o"></i>گروه بلاگ ها</a></li>
                </ul>
            </li>
            <li class="@((Model=="aboutUs"?"active":null))">
                <a href="/ManagementPanel/AboutUs">
                    <i class="fa fa-home"></i>
                    <span>درباره ما</span>
                </a>
            </li>
            <li class="@((Model.Contains("contactUs")?"active treeview":"treeview"))">
                <a href="#">
                    <i class="fa fa-phone"></i>
                    <span>تماس با ما</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="@((Model=="contactUsForm"?"active":null))"><a href="/ManagementPanel/contactUs/HelpForm"><i class="fa fa-circle-o"></i>پیام های دریافتی</a></li>
                    <li class="@((Model=="contactUs"?"active":null))"><a href="/ManagementPanel/contactUs"><i class="fa fa-circle-o"></i>اطلاعات تماس</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
