@model List<Schools.Domain.Models.SocialNetwork>
@using Schools.Application.Service.Interfaces.Blogs
@using Schools.Domain.Repository.InterfaceRepository.ContactUsRepositories
@inject IBlogServices _Blog
@inject IContactUsRepository _contactUs
@{
    var lastBlogs = _Blog.GetLastBlogs(4).Where(b => b.BlogType == "مقالات");
    var contact = _contactUs.GetLast();
}
<footer>
    <div class="top-footer">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="/Blogs"> بلاگ </a></li>
                    <li><a href="https://www.toplearn.com" target="_blank"> آموزش آنلاین </a></li>
                    <li><a href="/About-us"> درباره ما  </a></li>
                    <li><a href="Contact-Us"> تماس با ما </a></li>
                </ul>
            </nav>

            <a href="/UserPanel/RegisterSchool" class="button-st green"> ثبت آموزشگاه </a>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-4 col-sm-12 blog-post-col">
                    <section>
                        <header><h2> آخرین مقالات آموزشی </h2></header>
                        <ul>
                            @foreach (var item in lastBlogs)
                            {
                                <li><a href="/Blog/@item.BlogId/@item.Title.Replace(" ","-").Trim()">@item.Title</a></li>
                            }
                        </ul>
                    </section>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-7 contact-col">
                    <section>
                        <header><h2>  راه های ارتباطی با ما </h2></header>
                        <div class="socials">
                            @foreach (var item in Model)
                            {
                                switch (item.NetworkName)
                                {
                                    case "whatsApp":
                                        <a href="@item.NetWorkLink"><span><i class="icon-whatsapp"></i></span></a>
                                        break;
                                    case "instagram":
                                        <a href="@item.NetWorkLink"><span><i class="icon-instagram"></i></span></a>
                                        break;
                                    case "telegram":
                                        <a href="@item.NetWorkLink"><span><i class="icon-telegram"></i></span></a>
                                        break;
                                    case "aparat":
                                        <a href="@item.NetWorkLink"><span><i class="icon-aparat"></i></span></a>
                                        break;
                                    case "linkedin":
                                        <a href="@item.NetWorkLink"><span><i class="zmdi zmdi-linkedin"></i></span></a>
                                        break;
                                    case "googlePlus":
                                        <a href="@item.NetWorkLink"><span><i class="zmdi zmdi-google-old"></i></span></a>
                                        break;
                                }
                            }



                        </div>
                        <ul>
                            <li>
                                <i class="zmdi zmdi-phone-in-talk"></i>
                                @contact.PhoneNumber
                            </li>
                            <li><i class="zmdi zmdi-email"></i> @contact.Email </li>
                        </ul>
                    </section>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 trust-col">
                    <a href=""><img src="/images/pic/namad.png"></a>
                    <a href=""><img src="/images/pic/namad-2.png"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-layer">
        <div class="container">
            <span>
                © کلیه حقوق مادی و معنوی این سایت متعلق به <a href=""> آموزش دات اوآرجی </a> می باشد.
            </span>
            <p> <a href=""> طراحی </a> ، <a href="">برنامه نویسی </a> و  <a href=""> پشتیبانی </a> : <a href=""> شرکت برنامه نویسان پیشرو پایدار </a></p>

            <div class="clearfix"></div>
        </div>
    </div>

</footer>