@using Schools.Application.Utilities
@using Schools.Domain.Repository.InterfaceRepository
@using Schools.Domain.Repository.InterfaceRepository.Schools
@using Schools.Domain.Repository.InterfaceRepository.Users
@inject IUserRepository _user
@inject ISchoolRepository _School
@inject ISocialNetworkRepository _Network
@{
    var networks = _Network.GetAllSocialNetworks();
}
<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>  @ViewData["Title"] </title>
    <meta name="googlebot" content="index,follow">
    <meta name="robots" content="noodp,noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/css/public.css">
    <link rel="stylesheet" type="text/css" href="/css/Custom.css">
    @await RenderSectionAsync("Meta", false)

    <script src="/js/jquery.min.js"></script>

</head>
<body>
    <script src="/js/modernizr.js"></script>
    <div class="loading">
        <div class="loading-body">
            <img src="/loading/Double Ring-1.4s-200px.gif" />
            <p>لطفا منتظر بمانید ...</p>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="top-layer">
        <div class="container">
            <!-- top bar -->
            <div class="top-bar">
                <div class="socials">
                    @foreach (var item in networks)
                    {
                        switch (item.NetworkName)
                        {
                            case "whatsApp":
                                <a href="@item.NetWorkLink"><i class="icon-whatsapp"></i></a>
                                break;
                            case "instagram":
                                <a href="@item.NetWorkLink"><i class="icon-instagram"></i></a>
                                break;
                            case "telegram":
                                <a href="@item.NetWorkLink"><i class="icon-telegram"></i></a>
                                break;
                            case "aparat":
                                <a href="@item.NetWorkLink"><i class="icon-aparat"></i></a>
                                break;
                        }
                    }
                </div>
                <div class="left-side">

                    @if (User.Identity.IsAuthenticated)
                    {
                        var user = _user.GetUserById(User.GetUserId());
                        var isUserHasSchool = _School.IsUserHasASchool(User.GetUserId());
                        if (isUserHasSchool)
                        {
                            <div class="logged-in">
                                <a href="" class="avatar"><img src="/images/userAvatars/@user.UserAvatar" alt="عکس پروفایل کاربر"></a>
                                <span> @user.Name @user.Family خوش اومدی <i class="zmdi zmdi-caret-down"></i></span>
                                <div class="sublayer">
                                    <ul>
                                        <li><a href="/SchoolPanel"> مشاهده پروفایل </a></li>
                                        <li><a href="/SchoolPanel/Teachers"> مدرسین </a></li>
                                        <li><a href="/SchoolPanel/Courses"> دوره ها </a></li>
                                        <li><a href="/SchoolPanel/Edit"> ویرایش حساب کاربری </a></li>
                                        <li><a href="/SchoolPanel/ChangePassword"> تغییر رمز عبور </a></li>
                                        <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                                    </ul>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="logged-in">
                                <a href="" class="avatar"><img src="/images/userAvatars/@user.UserAvatar" alt="عکس پروفایل کاربر"></a>
                                <span> @user.Name @user.Family خوش اومدی <i class="zmdi zmdi-caret-down"></i></span>
                                <div class="sublayer">
                                    <ul>
                                        <li><a href="/UserPanel"> مشاهده پروفایل </a></li>
                                        <li><a href="/UserPanel/Edit"> ویرایش حساب کاربری </a></li>
                                        <li><a href="/UserPanel/ChangePassword"> تغییر رمز عبور </a></li>
                                        <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                                    </ul>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <span class=""><a href="/Login"> ورود  </a> / <a href="/Register"> عضویت </a><i class="zmdi zmdi-account"></i></span>
                    }
                </div>
            </div>
            <!-- /top bar -->
            <!-- main menu -->
            <partial name="TopLayer/_MainMenu" />
            <!--/ main menu -->
        </div>

        <!-- fixed-menu -->
        <partial name="TopLayer/_FixMenu" />
        <!-- /fixed-menu -->

        @await RenderSectionAsync("Topic_Layer", false)

    </div>
    @await RenderSectionAsync("Search", false)

    @RenderBody()

    <cache expires-after="TimeSpan.FromDays(1)">
        <partial name="_Footer" model="networks"/>
    </cache>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/public.js"></script>
    @await RenderSectionAsync("Scripts", false)
</body>
</html>