@page "{handler?}"
@model Schools.WebApp.Areas.ManagementPanel.Pages.Schools.Groups.IndexModel
@{
    ViewData["Title"] = "گروه های آموزشگاها";
    var menuModel = "schoolsGroup";
    // ManagementPanel/Schools
}

<partial name="_MainMenu" model="menuModel" />


<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <section class="col-lg-12 col-md-12">
                <div class="box box-info">
                    <div class="box-header">

                        <a href="/ManagementPanel/Schools/Groups/Add" class="btn btn-success btn-flat">افزودن گروه</a>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table-bordered table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>عنوان گروه</th>
                                        <th>زیر گروه ها</th>
                                        <td>عملیات</td>
                                    </tr>
                                </thead>

                                <tbody>

                                    @foreach (var Group in Model.List.Where(g => g.ParentId == null))
                                    {
                                        <tr>
                                            <td>@Group.GroupId</td>
                                            <td>@Group.GroupTitle</td>
                                            <td>
                                                <ul>
                                                    @foreach (var sub in Model.List.Where(g => g.ParentId == Group.GroupId))
                                                    {
                                                        <li>
                                                            <p>
                                                                @sub.GroupTitle
                                                                <a class="btn btn-danger btn-sm" onclick="deleteItem(@sub.GroupId)">حذف</a>
                                                                <a class="btn btn-sm btn-info" href="/ManageMentPanel/Schools/Groups/Edit/@sub.GroupId">ویرایش</a>
                                                            </p>
                                                        </li>

                                                    }
                                                </ul>
                                            </td>
                                            <td>
                                                <a href="/ManagementPanel/Schools/Groups/AddSubGroup/@Group.GroupId" class="btn btn-success btn-sm">افزودن زیرگروه</a>
                                                <a href="/ManageMentPanel/Schools/Groups/Edit/@Group.GroupId" class="btn btn-warning btn-sm">ویرایش</a>
                                                <a onclick="deleteItem(@Group.GroupId)" class="btn btn-danger btn-sm">حذف</a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </section>
</div>

@section Scripts
{
    <script>

        function deleteItem(id) {
            swal({
                title: "اخطار !!",
                text: "آیا از حذف گروه اطمینان دارید؟",
                icon: "warning",
                buttons: ["خیر", "بله"]
            }).then((isOk) => {
                if (isOk) {
                    $.ajax({
                        url: "/ManagementPanel/Schools/Groups/DeleteGroup?groupId=" + id,
                        type: "get",
                        beforeSend: function() {
                            $(".loading").show();
                        },
                        complete: function() {
                            $(".loading").hide();
                        }
                    }).done(function(data) {
                        if (data === "Deleted") {
                            swal({
                                title: "اعملیات با موفقیت انجام شد",
                                icon: "success",
                                button: "باشه"
                            }).then((isOk) => {
                                location.reload();
                            });
                        } else {
                            swal({
                                title: "اعملیات به مشکل برخورد کرد",
                                text:".گروه مورد نظر داری  تعدادی آموزشگاه است ",
                                icon: "error",
                                button: "باشه"
                            });
                        }
                    });
                }
            });

        }
    </script>
}
