@model IEnumerable<Schools.Application.ViewModels.BlogsViewModels.ShowGroupsViewModels>


    <form id="formSearch" asp-controller="Blog" asp-action="Index" method="get">
        <input type="hidden" id="groupId" name="groupId" value="@ViewBag.groupId.ToString()" />
        <input type="hidden" id="typeId" name="typeId" value="@ViewBag.typeId.ToString()" />
    </form>
        <ul>
            <li>
                <a onclick="$('#typeId').val(1),$('#groupId').val(0),changeGroup()" href="#"> دنیای خبر </a>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li><a value="@item.GroupId" onclick="$('#typeId').val(1),$('#groupId').val(@item.GroupId),changeGroup()" href="#"> @item.GroupName </a></li>
                    }
                </ul>
            </li>
            <li>
                <a onclick="$('#typeId').val(2),$('#groupId').val(0),changeGroup()" href="#"> مقالات </a>
                <ul>
                    @foreach (var item in Model)
                    {
                        <li><a value="@item.GroupId" onclick="$('#typeId').val(2),$('#groupId').val(@item.GroupId),changeGroup()" href="#"> @item.GroupName </a></li>
                    }
                </ul>
            </li>
        </ul>
    
