@using Schools.Application.Utilities.Convertors
@using Schools.Application.ViewModels.SchoolsViewModels
@using Schools.Domain.Models.Schools.Locations
@model Schools.Domain.Models.Schools.School
@{
    ViewData["Title"] = "SinglePage";
    var schoolShireTitle = Model.Shire.ShireTitle;
    var schoolCityTitle = Model.City.CityTitle;
    var schoolRate = Model.SchoolRates.Sum(r => r.Rate) / Model.SchoolRates.Count;
    var categoryTitle = Model.SchoolSubGroup.GroupTitle ?? Model.SchoolGroup.GroupTitle;
    var comments = ViewData["Comments"] as SchoolCommentsViewModel;
    var shires = ViewData["Shires"] as List<Shire>;
    var cities = ViewData["Cities"] as List<City>;
    bool isUserLikeSchool = (bool)ViewData["IsUserLikeSchool"];
}
@section Meta
{
    <link rel="stylesheet" type="text/css" href="/css/material-icon.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/profile.css">
    <link rel="stylesheet" type="text/css" href="/css/lightslider.css">
}
<div class="container">
    <div class="search-layer">
        <form asp-controller="School" asp-action="SchoolCategory" method="get">
            <select name="shireTitle" id="shires">
                <option value=""> انتخاب استان </option>
                @foreach (var item in shires!)
                {
                    <option value="@item.ShireTitle" selected="@((item.ShireTitle==schoolShireTitle?"selected":null))"> @item.ShireTitle </option>

                }
            </select>
            <select name="cityTitle" id="cities">
                <option value=""> انتخاب شهر </option>
                @foreach (var item in cities!)
                {
                    <option value="@item.CityTitle" selected="@((item.CityTitle==schoolCityTitle?"selected":null))"> @item.CityTitle </option>

                }
            </select>
            <input type="text" name="schoolName" placeholder="نام آموزشگاه ...">
            <input type="text" name="courseName" placeholder="نام دوره ...">
            <button type="submit"> جستجو کنید <i class="zmdi zmdi-search"></i></button>
        </form>
    </div>
    <div class="main-content">
        <div class="top-content">
            <div class="right-col">
                <div class="img-layer shadow-style"> <img src="/images/schools/@Model.ImageName" alt="@Model.SchoolTitle"> </div>
                <div class="links-layer">
                    <a href="javascript:void(0)" id="gallery-button"> گالری تصاویر </a>
                    <a href="javascript:void(0)" id="contact-button"> اطلاعات تماس </a>
                    <a href="javascript:void(0)" id="submit-comment-button"> ثبت نظر </a>
                </div>
            </div>
            <div class="left-col">
                <div class="stars-rating">
                    <span class="readonly-rating-star" data-score="@schoolRate"></span>
                </div>
                <h2><a href="">  @categoryTitle @Model.SchoolTitle </a></h2>
                <h3> با مدیریت <span>  @Model.User.Name @Model.User.Family </span> </h3>
                <ul>
                    <li><span> مکان آموزشگاه : </span> <a href=""> @Model.Shire.ShireTitle </a> - <a href=""> @Model.City.CityTitle </a> </li>
                    <li><span> تاریخ عضویت در سایت : </span> @Model.RegisterDate.ToShamsi() </li>
                    <li><span> موضوع فعالیت : </span> <a href=""> @(Model.SchoolSubGroup.GroupTitle ?? Model.SchoolGroup.GroupTitle) </a></li>
                    <li><span> سال تاسیس : </span> @Model.BuildDate.ToShamsi() </li>
                    <li>
                        <span> نوع آموزش : </span>
                        @foreach (var item in Model.SchoolTrainingTypes)
                        {
                            <a href="#">
                                @item.TrainingType.TypeTitle
                            </a>
                        }
                    </li>
                    <li><span> میزان محبوبیت : </span> <span class="like-count">@Model.UserLikes.Count</span> پسند شده </li>
                    <li><span> بازدید از پروفایل : </span> @Model.Visit.ToString("#,0") بازدید </li>
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (!isUserLikeSchool)
                    {
                        <a href="javascript:void(0)" class="like-this"> <i class="zmdi zmdi-favorite"></i> آموزشگاه را میپسندم </a>
                    }
                    else
                    {
                        <a href="javascript:void(0)" class="like-this liked"> <i class="zmdi zmdi-favorite"></i> آموزشگاه را میپسندم </a>
                    }
                }
                else
                {
                    <a href="javascript:void(0)" class="like-this disabled" data-toggle="tooltip" title="وارد حساب کاربری خود شوید"> <i class="zmdi zmdi-favorite"></i> آموزشگاه را میپسندم </a>

                }



                <a href="javascript:void(0)" class="send-message"> <i class="zmdi zmdi-comment"></i> ارسال پیام به آموزشگاه</a>
                <a href="javascript:void(0)" id="submit-rating"> <i class="zmdi zmdi-star"></i> امتیاز دهی به آموزشگاه </a>
                <div class="notification">
                    کاربر گرامی ، <span> میزان محبوبیت آموزشگاه </span> و <span> امتیاز کسب شده توسط کاربران </span> با تاریخ ثبت آموزشگاه در سایت رابطه ی مستقیم خواهد داشت، لذا جهت مقایسه آموزشگاه ها به تاریخ ثبت آنها نیز دقت فرمایید.
                </div>
            </div>
        </div>
        <div class="description-layer shadow-style">
            @Html.Raw(Model.Description)
        </div>
        <section class="contact-info-layer shadow-style">
            <header><h2> تماس با  @categoryTitle @Model.SchoolTitle </h2></header>
            <p>
                نشانی : @Model.SchoolAddress
            </p>
            <ul>
                <li>
                    <span> تلفن : </span>
                    @foreach (var item in Model.SchoolPhone.Split('-'))
                    {
                        <a href="tel:+98@(item.TrimStart('0')) "> @item </a>
                    }
                </li>
                <li>
                    <span> فکس : </span>
                    @if (!string.IsNullOrEmpty(Model.SchoolFax))
                    {
                        @foreach (var item in Model.SchoolFax.Split('-'))
                        {
                            <a href="javascript:void(0)"> @item </a>
                        }
                    }
                </li>
                <li><span> ایمیل : </span> <a href="">@Model.SchoolEmail</a></li>
            </ul>
        </section>
        <section class="terms-list-layer shadow-style">
            <header><h2> دوره های  @categoryTitle @Model.SchoolTitle </h2></header>
            <article>
                <ul>
                    @foreach (var item in Model.SchoolCourses)
                    {
                        <li>
                            <h3> @item.CourseTitle </h3>
                            <div class="desc">
                                <p>
                                    @Html.Raw(item.CourseDescription)
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </article>
        </section>
        <section class="teachers-list-layer shadow-style">
            <header><h2> اساتید  @categoryTitle @Model.SchoolTitle </h2></header>
            <partial name="School/_SchoolTeachers" model="@Model.SchoolTeachers" />
        </section>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <section class="gallery-layer shadow-style">
                    <header><h2> گالری تصویر  @categoryTitle @Model.SchoolTitle </h2></header>
                    <div class="gallery-slider clearfix">
                        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                            @foreach (var item in Model.SchoolGalleries)
                            {
                                <li data-thumb="/images/schools/gallery/@item.ImageName">
                                    <img src="/images/schools/gallery/@item.ImageName" alt="گالری تصاویر آموزشگاه @Model.SchoolTitle" />
                                </li>
                            }
                        </ul>
                    </div>
                </section>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="submit-rating-layer shadow-style">
                    <header><h3> امتیازدهی به  @categoryTitle @Model.SchoolTitle </h3></header>
                    <form class="schoolRate">
                        <p>
                            کاربر گرامی، تمامی فعالیت های امتیازدهی شما در حساب کاربری شما ثبت خواهد شد، لطفا تنها در صورتی که در این آموزشگاه تجربه ی تحصیل داشته اید اقدام به ثبت امتیاز کنید.
                        </p>
                        <div class="select-rating-layer">
                            <div class="rating-row">
                                <span> محیط آموزشی مناسب </span>
                                <div id="rate-one"></div>
                                <input type="text" name="" id="environment-rate" value="0">
                            </div>
                            <div class="rating-row">
                                <span> سطح کیفی آموزش </span>
                                <div id="rate-two"></div>
                                <input type="text" name="" id="quality-rate" value="0">
                            </div>
                            <div class="rating-row">
                                <span> نحوه برخورد اساتید و کارکنان  </span>
                                <div id="rate-three"></div>
                                <input type="text" name="" id="employees-rate" value="0">
                            </div>
                            <div class="rating-row">
                                <span> آرامش محیط آموزشی </span>
                                <div id="rate-four"></div>
                                <input type="text" name="" id="calm-rate" value="0">
                            </div>
                            <div class="rating-row">
                                <span> تنوع ابزارهای کمک آموزشی </span>
                                <div id="rate-five"></div>
                                <input type="text" name="" id="variety-tools-rate" value="0">
                            </div>
                            <div class="rating-row">
                                <span> سطح کیفی ابزارهای آموزشی </span>
                                <div id="rate-six"></div>
                                <input type="text" name="" id="quality-tools-rate" value="0">
                            </div>
                        </div>
                        <div class="show-selected-rate">
                            <span class="title"> امتیاز شما به این آموزشگاه </span>
                            <span class="view">
                                <i> 0 </i> از 5
                            </span>
                        </div>
                        <button class="button-st green submit-rating-button" type="submit"><span><i class="icon-check"></i></span> ثبت نهایی امتیاز </button>
                    </form>
                </div>
            </div>
        </div>
        <div id="comments">
            <partial name="School/_SchoolComments" model="comments" />
        </div>
    </div>

</div>

@section Scripts
{
    <!-- ارسال پیام -->
    <div class="popup-layer" id="send-message-popup">
        <div class="popup-content shadow-style">
            <header> <h4> ارسال پیام به آموزشگاه @Model.SchoolTitle </h4> <a href="javascript:void(0)" class="close-popup"> <i class="zmdi zmdi-close"></i></a></header>
            <div class="inner">
                @if (User.Identity.IsAuthenticated)
                {
                    <form>
                        <input type="text" placeholder="عنوان پیام را وارد کنید" required="" />
                        <textarea placeholder=" متن پیام خود را وارد نمایید " required=""></textarea>
                        <button class="button-st green">ارسال پیام</button>
                    </form>
                }
                else
                {
                    <p class="msg error"> کاربر گرامی ، برای ارسال پیام می بایست در سایت <a href="">ثبت نام</a> کرده باشید و یا <a href="">وارد شوید</a> </p>

                }

            </div>
        </div>
    </div>
    <!-- ثبت امتیاز استاد -->
    <div class="popup-layer" id="submit-rating-popup">
        <div class="popup-content shadow-style">
            <header> <h4> ثبت امتیاز برای استاد <span id="teacherName">ایمان مدائنی</span> </h4> <a href="javascript:void(0)" class="close-popup"> <i class="zmdi zmdi-close"></i></a></header>
            <div class="inner">
                <div class="msg info">
                    کاربر گرامی، تمامی فعالیت های امتیازدهی شما در حساب کاربری شما ثبت خواهد شد، لطفا تنها در صورتی که با این استاد تجربه ی تحصیل داشته اید اقدام به ثبت امتیاز کنید.
                </div>
                <form class="submit-rating-layer">
                    <input type="hidden" value="" name="token" id="token" />
                    <div class="select-rating-layer">
                        <!-- row -->
                        <div class="rating-row">
                            <span> سطح معلومات اساتید </span>
                            <div id="teacher-rate-one"></div>
                            <input type="text" name="" id="level-information-rate" value="0">
                        </div>
                        <!-- row -->
                        <div class="rating-row">
                            <span> نحوه ی انتقال مطالب </span>
                            <div id="teacher-rate-two"></div>
                            <input type="text" name="" id="content-transfer-rate" value="0">
                        </div>
                        <!-- row -->
                        <div class="rating-row">
                            <span> نحوه برخورد اساتید </span>
                            <div id="teacher-rate-three"></div>
                            <input type="text" name="" id="behavior-rate" value="0">
                        </div>
                        <!-- row -->
                        <div class="rating-row">
                            <span> میزان مشارکت دهی دانشجویان در امور آموزشی </span>
                            <div id="teacher-rate-four"></div>
                            <input type="text" name="" id="taking-part-rate" value="0">
                        </div>
                        <!-- row -->
                        <div class="rating-row">
                            <span> استفاده بهینه از زمان آموزش </span>
                            <div id="teacher-rate-five"></div>
                            <input type="text" name="" id="use-time-rate" value="0">
                        </div>

                    </div>

                    <button class="button-st green submit-rating-button" type="submit"><span><i class="icon-check"></i></span> ثبت نهایی امتیاز </button>
                </form>
            </div>
        </div>
    </div>
    <script src="/ckeditor5/build/ckeditor.js"></script>
    <script src="/js/owl.carousel.js"></script>
    <script src="/js/raty.js"></script>
    <script src="/js/profile.js"></script>
    <script src="/js/lightslider.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

}
